.app-container{
    background-color: #6b00dd;
    width: 100% !important;
    height: 100% !important;
}

body{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
}

#root{
    width: 100% !important;
    height: 100% !important;
}