$xs: 320px;
$sm: 425px;
$med: 768px;
$lg: 1024px;
$xlg: 1440px;

.react-player{
    @media screen and (min-width: $xs) and (max-width: $sm) {
        width: 318px !important;
        height: 212px !important;
      }
    
      @media screen and (min-width: $sm) and (max-width: $med) {
        width: 423px !important;
        height: 282 !important;
      }

      @media screen and (min-width: $med) {
        width: 90% !important;
        height: 90% !important;
      }
}